<title>Node Game</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/dashboard">NodeGame</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav nav-pills mr-auto">
            <li class="nav-item active">
                <a class="nav-link active" href="/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addGame">Add Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/showAllGame">Game List</a>
            </li>
            <li class="nav-item">
                <a href="/updateAndDelete" class="nav-link">Edit Game</a>
            </li>
            <li class="nav-item">
                <a href="/users/logout" class="nav-link">Logout</a>
            </li>
        </ul>

    </div>
</nav>
<h1 class="mt-4">Home</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>